{% extends 'base.html' %}
{% block content %}

<h1>hello, welcome to discover-meditation</h1>

<div id='location'>
<p>your location: </p>
</div>

<div>
<form action='url'>
<input type='text' name='location.address' placeholder='your address'>
<input type='text' name='location.within' placeholder='search distance'>
<input id='location' type='submit' value='show meditations near me'>
</form>
</div>

<div id='classes'>
</div>

<script>

let ebUrl = "https://www.eventbriteapi.com/v3"
let ebSearch = "/events/search"
let ebToken = "/?token=QH7DGFM5HFFYPBGZOCZO"
let q = "&q=meditation"
let sort_by = "&sort_by=best"


function showClasses(results) {
    console.log(results);
    let firstResult = results['events'][0]['name']['text'];
    console.log(firstResult);
    $('#classes').empty();
    $('#classes').append(firstResult); 
}

function getClasses(event) {
    event.preventDefault();
    let str = $('form').serialize();
    console.log(str)
    let query = ebUrl + ebSearch + ebToken + q + sort_by + "&" + str;
    console.log(query);
    $.get(query, showClasses);
}

$('#location').on('click', getClasses);

/* 
window.onload = function() {
    let startPos;
    let geoSuccess = function(position) {
        startPos = position;
        document.getElementById('startLat').innerHTML = startPos.coords.lattitude;
        document.getElementById('startLon').innerHTML = startPos.coords.longitude;
        console.log(startPos);
    };
    navigator.geolocation.getCurrentPosition(geoSuccess);
};
*/

</script>

{% endblock %}

   