{% extends 'base.html' %}
{% block content %}

<h1>Let's find meditation classes near you</h1>

<div>
<p>Enter Your Location: </p>
</div>

<div>
<form action='url'>
    <input type='text' name='location.address' placeholder='your address'>
    <select name='location.within'>
        <option value='5mi'>5 miles</option>
        <option value='10mi'>10 miles</option>
        <option value='20mi'>20 miles</option>
    </select>
    <input id='location' type='submit' value='show meditations near me'>
</form>
</div>

<br>
<br>
<br>

<div id='classes' class='container'>
<form>
</form>
</div>

<script>
const ebUrl = "https://www.eventbriteapi.com/v3";
const ebSearch = "/events/search";
const ebToken = "/?token=QH7DGFM5HFFYPBGZOCZO";
const q = "&q=meditation";
const sort_by = "&sort_by=best";
let pageNumber = 1;
let page = `&page=${pageNumber}`;
let str;



function showClasses(results) {
    //console.log(results);
    let events = results['events']; // an array of event objects
    let meditations = events.map(function(event) {
        let title = event['name']['text'];
        let url = event['url'];
        let dateTime = event['start']['local'];
        return `
        <div class='class-tile'>
            <a href='${url}'> ${title}</a>
        </div>
        `; 
    });
    //console.log(meditations)
    //$('#classes').empty();
    for (i = 0; i < meditations.length; i++) {
        $('#classes').append(meditations[i]);
    }
};

function getClasses() {
    console.log(str);
    let query;
    if(str){
        query = ebUrl + ebSearch + ebToken + q + sort_by + page + "&" + str;
    }else{
        query = ebUrl + ebSearch + ebToken + q + sort_by + page;  
   };
    $.get(query, showClasses);
};

function getLocation(event) {
    event.preventDefault();
    str = $('form').serialize();
    getClasses();
};

$('#location').on('click', getLocation);

getClasses();

// infinite scrolling and paginating

console.log(`window.scrollTop is: ${($(window).scrollTop())}
    window.height is: ${($(window).height())}
    document.height is: ${($(document).height())}`);

$(window).scroll(()=> {
    if(($(window).scrollTop() + $(window).height()) === ($(document).height())){
        pageNumber++;
        getClasses();
        console.log(`page has scrolled. 
            Window.scrollTop is: ${($(window).scrollTop())} 
            window.height is: ${($(window).height())}
            document.height is: ${($(document).height())}`);
        }
});


</script>

{% endblock %}

   